* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #e8676b;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: white; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
  color: #fff; }
  h1.lg_heading, h2.lg_heading, h3.lg_heading {
    font-size: 4rem;
    padding-top: 50px; }
  h1.sm_heading, h2.sm_heading, h3.sm_heading {
    font-size: 1.2rem; }
  h1 span, h2 span, h3 span {
    color: #e8676b; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  outline: none;
  border: none; }

input {
  outline: none; }

#contact h1, #contact h2 {
  text-align: center; }

#contact span {
  color: #e8676b; }

.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px; }
  .contact_form .mail_image {
    width: 600px;
    height: 600px;
    position: relative; }
    .contact_form .mail_image::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1; }
    .contact_form .mail_image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .contact_form .mail_form {
    width: 600px;
    height: 600px;
    padding: 20px;
    color: #fff;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e8676b; }
    .contact_form .mail_form label {
      font-weight: 500; }
    .contact_form .mail_form input {
      display: block;
      width: 400px;
      padding-left: 15px;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid #e8676b;
      margin-bottom: 1.5rem;
      margin-top: 5px;
      font-size: 1rem; }
    .contact_form .mail_form textarea {
      width: 100%;
      margin-top: 5px;
      border-radius: 3px;
      border: 1px solid #e8676b;
      padding: 10px;
      font-size: 1.3rem;
      font-style: italic;
      outline: none; }
    .contact_form .mail_form button {
      display: block;
      margin: 0 auto;
      margin-top: 5px;
      padding: .75rem 2rem;
      color: #fff;
      background: #e8676b;
      font-weight: 700;
      border-radius: 3px;
      cursor: pointer;
      transition: all .5s ease-in-out; }
      .contact_form .mail_form button:hover {
        background: #e55155;
        transition: all .5s ease-in-out; }
