@import 'config';

.projects{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    margin-top: 2rem;
    padding: 3rem;
    .project_item{
        display: flex;
        flex-direction: column;
        position: relative;
        
        .project_image{
            overflow: hidden;
            border: 4px solid #fff;
            height: 100%;
            position: relative;
            h2{
                opacity: 0;
                margin: 0 !important;
                padding: 0 !important;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                @include easeOut();
                font-size: 1.5rem !important;
                text-align: center;
                width: 100%;
            }
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .7);
                top: 0;
                left: 0;
                z-index: 2;
                opacity: 0;
                @include easeOut();
            }
            &:hover:before{
                opacity: 1;
            }
            &:hover{
                h2{
                    opacity: 1;
                    @include easeOut();
                }
            }
        }
            

        img {
            width: 100%;
            margin-bottom: -6px;
        }
    }
    a{
        &:nth-child(2){
            background: lighten($primary-color, 20);
            cursor: pointer;
            padding: 8px;
            color: darken($primary-color, 20);
            font-weight: 500;
            i{
                margin-right: 10px;
                color: darken($primary-color, 20);
            }
        }
        &:nth-child(3){
            background: darken($primary-color, 20);
            cursor: pointer;
            padding: 8px;
            font-weight: 500;
            i{
                margin-right: 10px;
            }
        }
    }
    
}
#work{   
    // padding: 4rem;
    h1{
        padding-left: 3rem;
    }
    h2{
        padding-left: 3rem;
        font-size: 1.8rem;
    }
}
